<a class="logo <%= typeof cls !== "undefined" ? cls : "" %>" href="<%= typeof href !== "undefined" ? href : "/" %>">
  <span class="logo-mark"><span class="logo-env"></span></span>
  <span class="logo-word">Skrynia</span>
</a>
